@media screen and (max-width: 799px)  { /**--800px以下--**/
	/*--登陆--*/
	.login .ltitle{
		margin: 100px auto 20px auto;
	}
	.login button{
	    margin: 60px auto 0 auto;
	}
	/*--号码估值--*/
	.ibody{
		zoom: 0.7;
		
	}
	.king {
	    height: 770px;
	}
	.king .nubs .style-1 {
	    margin: 21.5% 0 0 16.5%
	}
	.king .nubs .style-1 ul {
	    margin: -187% 0 0px 78%;
	}
	.king .nubs .style-2 {
	    margin: 80.5% 0 0 14.5%;
	}
	.king .nubs .style-2 ul {
	    margin: 90% 0 0px -104%;
	}
	.king .nubs .style-3 {
	    margin: 90.5% 0 0px 70.5%;
	}
	.king .nubs .style-3 ul {
	    margin: 71% 0 0px 87%;
	}
}
@media screen and (min-width: 800px) and (max-width: 1079px)  { /**--800px--**/
	.ibody{
		zoom: 0.8;
	}
	.king {
	    height: 700px;
	    background: red;
	}
	.king .nubs .style-1 {
	    margin: 21% 0 0 15%;
	}
	.king .nubs .style-1 ul {
	    margin: -169% 0 0px 73%;
	}
	.king .nubs .style-2 {
	    margin: 80% 0 0 14%;
	}
	.king .nubs .style-2 ul {
	    margin: 46% 0 0px -95%;
	}
	.king .nubs .style-3 {
	    margin: 90% 0 0px 70%;
	}
	.king .nubs .style-3 ul {
	    margin: 70% 0 0px 80%;
	}
}
@media screen and (min-width: 1080px) {  /**--1080px--**/
	.ibody{
		zoom: 1;
	}
	.king {
	    height: 620px;
	    
	}
	.king .nubs .style-1 {
	    margin: 20% 0 0 14%;
	}
	.king .nubs .style-1 ul {
	    margin: -145% 0 0px 64%;
	}
	.king .nubs .style-2 {
	    margin: 80% 0 0 13%;
	}
	.king .nubs .style-2 ul {
	    margin: 42% 0 0px -88%;
	}
	.king .nubs .style-3 {
	    margin: 90% 0 0px 68%;
	}
	.king .nubs .style-3 ul {
	    margin: 60% 0 0px 73%;
	}
}

