/*--号码估值--*/
.ibody{
	zoom: 0.7;
	
}
.king {
    height: 770px;
}
.king .nubs .style-1 {
    margin: 21.5% 0 0 16.5%
}
.king .nubs .style-1 ul {
    margin: -187% 0 0px 78%;
}
.king .nubs .style-2 {
    margin: 80.5% 0 0 14.5%;
}
.king .nubs .style-2 ul {
    margin: 90% 0 0px -104%;
}
.king .nubs .style-3 {
    margin: 90.5% 0 0px 70.5%;
}
.king .nubs .style-3 ul {
    margin: 71% 0 0px 87%;
}