<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="info.puton.product.test.dao.PersonMapper" >

    <select id="selectByAge" resultType="info.puton.product.test.model.Person" parameterType="java.lang.Integer" >
        select
        *
        from person
        where age = #{age,jdbcType=INTEGER}
    </select>

</mapper>